spring:
  application:
    name: warehouse-inventory

  datasource:
    url: jdbc:mysql://localhost:3307/warehouse_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: warehouse_user
    password: warehouse_pass
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
      defer-datasource-initialization: true
    open-in-view: false

  sql:
    init:
      mode: always

server:
  port: 8080
  servlet:
    context-path: /api/v1
